{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sm.css' %}">
    <link rel="stylesheet" href="">
</head>
<body>
<section>
    <nav>
        <div class="logo">
            <a href="/">Portfolio</a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#"><u>Home</u></a></li>
                <li><a href="#projects"><u>Projects</u></a></li>
                <li><a href="#contact"><u>Contact</u></a></li>
            </ul>
        </div>
    </nav>
    <div class="home">
        <div class="overlay">
            <div class="blur-area">
                <div class="content-area">
                    <div class="container">
                        <div class="left">
                            <div class="text-area">
                                Привет, я Семён.Мне 16 лет и я начинающий программист.
                                Живу во Владивостоке, хочу больше узнать о разных языках программирования.
                            </div>
                            <div class="photo">

                            </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="" id="projects"></a>
<section>
    <div class="home2">
        <div class="content-area" id="prtf">
            <div class="title">
                <h1>My projects</h1>
            </div>
            <div class="gallery">
                <div class="progect1">
                   <div class="cardstyle">
                       <div class="image">

                       </div>
                       <div class="cardtitle">
                           <span>Testrepository</span>
                       </div>
                   </div>
                </div>
                <div class='progect2'>

                </div>
            </div>

        </div>
    </div>

</section>

<a href="" id="contact">  </a>
<section>
    <div class="home3">
        <form method="post"  class="content-form">
            {% csrf_token %}
            <div class="title">
                <h1> Contact</h1>

            </div>
            <div class="forma">
                <label>
                    <input type="text" placeholder="Name" class="input-field-control" name="name">
                </label>
            </div>
            <div class="forma">
                <label>
                    <input type="number" placeholder="Phone" class="input-field-control" name="phone">
                </label>
            </div>

            <div class="butten">
                <label>
                    <input type="submit" placeholder="GO" class="input-field-control">
                </label>
            </div>

        </form>
    </div>
</section>
</body>
</html>